@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 16px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* CSS: mobile view */

/* top Navigation Section */


.top-navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content>a {
    color: black;
    font-size: 30px;
}

.nav-cart {
    width: 5%;
    text-align: end;
    margin-right: 20px;
}

.search-cart {
    width: 45%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search-cart a i {
    color: black;
    text-align: end;
    padding-left: 30px;
}

.content1 {
    display: none;
}


/*  Hero Section  */


.hero-section {
    height: 500px;
    background: url(../images/illustration/hero_1.jpg) center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.heroSection-content>p {
    text-align: center;
    color: white;
}

.heroSection-content>h1 {
    text-align: center;
    font-size: 40px;
    color: white;
}

.heroSection-content>a {
    text-align: center;
    position: relative;
    padding: 15px;
    top: 26px;
    left: 36%;
    background-color: aqua;
    border-radius: 5px;
}


/*  Popular Product Section */

/* free shiping div */


.Free-Shipping>a {
    color: white;

}

.Free-Shipping>a>h2 {
    width: 50%;
    position: relative;
    top: -20px;
    left: 25%;
    font-size: 30px;

}

.Free-Shipping>a>p {
    width: 90%;
    position: relative;
    left: 5%;
    font-size: 20px;
}

.Free-Shipping {
    margin: 5%;
    height: 200px;
    /* position: relative;
    top: -120px; */
    color: white;
    background-color: aqua;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.Popular-ProductsContainer {
    /* margin: 5%; */
    height: 600px;
    position: relative;
    top: -120px;
    color: white;
}


/* Season sale Div */


.Season-Sale>a {
    color: white;

}

.Season-Sale>a>h2 {
    width: 50%;
    position: relative;
    top: -20px;
    left: 25%;
    font-size: 30px;

}

.Season-Sale>a>p {
    width: 90%;
    position: relative;
    left: 5%;
    font-size: 20px;
}

.Season-Sale {
    margin: 5%;
    height: 200px;
    color: white;
    background-color: #74d12b;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}


/* Gift Card Div */


.Gift-card>a {
    color: white;
}

.Gift-card>a>h2 {
    width: 50%;
    position: relative;
    top: -20px;
    left: 25%;
    font-size: 30px;
}

.Gift-card>a>p {
    width: 90%;
    position: relative;
    left: 5%;
    font-size: 20px;
}

.Gift-card {
    margin: 5%;
    height: 200px;
    color: white;
    background-color: #ffc107;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* PopularProduct_H1 heading */

.PopularProduct_H1 {
    text-align: center;
}

.PopularProduct_H1>h2 {
    font-size: 25px;
}


/* popular product */

.popular-product {
    text-align: center;
}

figcaption>strong {
    font-size: 20px;
}

.view-productContent {
    height: 60px;
    padding: 20px;
}

.view-productContent>a {
    padding: 2%;
    background-color: aqua;
    /* border: 1px solid grey; */
    color: black;
    border-radius: 3px;
}


/* new Product section */


.NewProduct {
    padding-bottom: 40px;
    background-color: #f2efef;
}

.NewProduct-H1 {
    padding-top: 20px;
    text-align: center;
}

.NewProduct-H1>h2 {
    font-size: 25px;
}

.NewProduct-Content {
    text-align: center;
}


/* testimonials Section */

.Testimonials-H1 {
    padding-top: 20px;
    text-align: center;
}

.Testimonials-H1>h2 {
    font-size: 25px;
}

.testimonials-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    overflow-x: auto;
}

blockquote>img {
    border-radius: 50%;
}


/* Product-RatedBy-Experts Section */


.Product-RatedBy-Experts {
    padding-top: 5px;
    height: 550px;
    background-color: aqua;
}

.Pharma-Products {
    margin: 20px;
    padding-top: 20px;
    height: 220px;
    position: relative;
    top: 20px;
    border: 1px solid gray;
    background: url(../images/illustration/bg_1.jpg) center/cover no-repeat;
}

.Pharma-Products>p {
    padding-left: 10px;
    width: 50%;
}

.pharma {
    font-size: 25px;
}


.Rated-By-Experts {
    margin: 20px;
    padding-top: 20px;
    height: 220px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 20px;
    border: 1px solid gray;
    background: url(../images/illustration/bg_2.jpg) center/cover no-repeat;
}

.Rated-By-Experts>p {
    padding-left: 10px;
    width: 50%;
}

.experts {
    font-size: 25px;
}

/*  footer Section  */

.footer {
    padding: 20px;
}

.About-Us>h4 {
    padding-top: 20px;
    margin-bottom: 20px;
}

.Quick-Links {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.Quick-Links>h4 {
    padding-top: 20px;
    margin-bottom: 20px;
}

.Contact-Info {
    margin-top: 50px;
}

.Contact-Info>img {
    width: 15px;
}

.Contact-Info>h4 {
    padding-top: 20px;
    margin-bottom: 20px;
}

.copyright-tab {
    padding-top: 100px;
    /* margin: 50px; */
}

.copyright-tab>p>img {
    width: 15px;
}

.Contact-Info p i {
    color: aqua;
    padding-right: 10px;
}

/* CSS: tablet */


@media (min-width:768px) {

    .top-navContainer {
        padding: 20px;
    }

    .Popular-ProductsContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 20px;
        margin: 5px;
        padding-top: 60px;
        width: 100%;

    }

    .Free-Shipping {
        margin: 0;
        padding-left: 10px;
        width: 44%;
    }

    .Season-Sale {
        margin: 0;
        width: 44%;

    }

    .Gift-card {
        margin: 0;
        width: 50%;
    }

    .popular-product,
    .NewProduct-Content {
        display: flex;
        flex-wrap: wrap;
    }

    .popular-product div:last-child {
        width: 100%;
        margin-top: 20px;
    }

    .product1 {
        width: 50%;
    }

    .footer-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer-content div {
        width: 45%;
    }

    .footer-content div:last-child {
        justify-content: center;
    }

    .Quick-Links {
        margin-top: 0;

    }
}

@media (min-width:992px) {
    .hero-section {
        height: 650px;
    }

    .nav-cart {
        position: absolute;
        left: 50%;
    }

    .nav-cart button {
        display: none;
    }

    .content1 {
        display: inline-block;
    }

    .navigation {
        display: flex;
    }

    .navigation li a {
        color: black;
        padding-right: 20px;
    }

    .Popular-ProductsContainer {
        height: 250px;
        flex-wrap: nowrap;
    }

    .popular-product,
    .NewProduct-Content {
        justify-content: center;
        padding-bottom: 20px;
    }

    .product1 {
        width: 30%;
    }

    .testimonials-content .blockquote1 blockquote{
        width: 70%;
        padding: 20px 0 40px 0;
        text-align: center;
    }

    .testimonials-content .blockquote1 blockquote img{
        width: 50%;
    }
    blockquote p{
        padding-bottom: 10px;
    }
    .Product-RatedBy-Experts {
        height: 450px;
        display: flex;
        align-items: center;
    }

    .Product-RatedBy-Experts-content {
        display: flex;
    }

    .Product-RatedBy-Experts-content div {
        height: 300px;
        display: flex;
        align-items: center;

        transition: all 1s ease-in;
    }

    .Product-RatedBy-Experts-content div:hover {
        box-shadow: 0 5px 10px rgb(83, 83, 83);
        transform: translateY(-50px);
    }

    .footer-content{
        flex-wrap: nowrap;
        
    }
    .Contact-Info{
        margin: 0;
    }

    .footer-content div{
        width: 30%;
    }
    .copyright-tab{
        text-align: center;
    }
}